
<div>
  <app-navbar></app-navbar>

  <br>
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6 mb-3 mb-sm-0">
        <div *ngIf="!isTemperatureData" class="spinner-grow text-primary" role="status"></div>

        <div *ngIf="isTemperatureData | async" class="card">
          <div class="card-header bg-purple-brght-10 text-white">
            <div class="d-flex justify-content-between">
              <h2>Sıcaklık</h2>

              <select #readingDevices (change)="readingsDeviceChange(readingDevices.value)" class="form-select w-50 text-primary" aria-label="Default select example">
                <option>Lütfen bir cihaz seçiniz</option>
                <option *ngFor="let item of devices" [selected]="item._id.device_id == deviceId" value="{{item._id.device_id}}">{{item._id.device_name}}</option>

              </select>
            </div>
            <div class="d-flex justify-content-end">
            </div>
          </div>
          <div class="card-body">
            <div id="lineChart1">
              <apx-chart
              [series]="temperatureChartOptions.series"
              [chart]="temperatureChartOptions.chart"
              [xaxis]="temperatureChartOptions.xaxis"
              [dataLabels]="temperatureChartOptions.dataLabels"
              [grid]="temperatureChartOptions.grid"
              [stroke]="temperatureChartOptions.stroke"
              [title]="temperatureChartOptions.title"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div *ngIf="!isHumiditiesData" class="spinner-grow text-primary" role="status"></div>

        <div *ngIf="isHumiditiesData | async" class="card">
          <div class="card-header bg-purple-drk-10 text-white">
            <div class="d-flex justify-content-between">
              <h2>Nem</h2>

              <select #readingDevices (change)="readingHumidityDeviceChange(readingDevices.value)" class="form-select w-50 text-primary" aria-label="Default select example">
                <option>Lütfen bir cihaz seçiniz</option>
                <option *ngFor="let item of devices" [selected]="item._id.device_id == humidityDeviceId" value="{{item._id.device_id}}">{{item._id.device_name}}</option>

              </select>
            </div>
          </div>
          <div class="card-body">
            <div id="lineChart2">
              <apx-chart
              [series]="humidityChartOptions.series"
              [chart]="humidityChartOptions.chart"
              [xaxis]="humidityChartOptions.xaxis"
              [dataLabels]="humidityChartOptions.dataLabels"
              [grid]="humidityChartOptions.grid"
              [stroke]="humidityChartOptions.stroke"
              [title]="humidityChartOptions.title"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>
    <div class="row">

      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-header bg-purple-brght-20 text-white">
            <h2>Hareket</h2>
          </div>
          <div class="card-body">
            <div id="lineChart3">
              <apx-chart
              [series]="motionSensorStatisticsChart.series"
              [chart]="motionSensorStatisticsChart.chart"
              [xaxis]="motionSensorStatisticsChart.xaxis"
              [dataLabels]="motionSensorStatisticsChart.dataLabels"
              [grid]="motionSensorStatisticsChart.grid"
              [stroke]="motionSensorStatisticsChart.stroke"
              [title]="motionSensorStatisticsChart.title"
              [plotOptions]="motionSensorStatisticsChart.plotOptions"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-purple-drk-30 text-white">
            <h2>deneme</h2>
          </div>
          <div class="card-body">
            <!-- <div id="lineChart4">
              <apx-chart
              [series]="chart4Options.series"
              [chart]="chart4Options.chart"
              [xaxis]="chart4Options.xaxis"
              [dataLabels]="chart4Options.dataLabels"
              [grid]="chart4Options.grid"
              [stroke]="chart4Options.stroke"
              [title]="chart4Options.title"
              ></apx-chart>
            </div> -->
          </div>
        </div>
      </div>

    </div>

  </div>
  <br>
</div>



