<nav class="navbar navbar-dark bg-primary navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
      <!-- <i class="bi bi-text-left"></i> -->
      <i class="bi bi-list-nested iconSize"></i>
    </button>
    <!-- <a class="navbar-brand" href="/admin-panel">Akıllı Ofis Yönetim Sistemi</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul> -->
      <div class="ms-auto"></div>

      <a style="cursor:pointer" (click)="getAllNotificationSettingsByEmail();" data-bs-toggle="modal"
        data-bs-target="#notificationModal"><i class="bi bi-wrench text-white iconSize me-4"></i></a>


      <div class="dropright">
        <a style="cursor:pointer" class="" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i *ngIf="notifications.length !== 0" class="bi bi-bell-fill text-white iconSize me-4"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotifications"
            aria-controls="offcanvasNotifications"></i>

          <i *ngIf="notifications.length === 0" class="bi bi-bell text-white iconSize me-4" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNotifications" aria-controls="offcanvasNotifications"></i>
        </a>


        <a (click)="logout()" style="cursor:pointer"><i class="bi bi-arrow-bar-right text-white iconSize me-3"></i></a>
      </div>

    </div>
  </div>
</nav>

<app-menu-notification [notifications]="notifications"
  (deleteItemMenuOutput)="deleteItem($event)"></app-menu-notification>


<!-- Sidebar -->
<div class="offcanvas offcanvas-start text-primary " tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvasExampleLabel">Akıllı Ofis Yönetim Sistemi</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">

      </li>
      <br>
      <li class="nav-item">
        <a href="/admin-panel" [ngClass]="active === 1?'nav-link text-white fs-5 bg-primary':'nav-link link-dark fs-5'">
          <i [ngClass]="active===1? 'bi bi-bar-chart-line text-white': 'bi bi-bar-chart-line text-purple-drk-50'"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/live-stream" [ngClass]="active === 2?'nav-link text-white fs-5 bg-primary':'nav-link link-dark fs-5'">
          <i [ngClass]="active===2?'bi bi-camera-video text-white':'bi bi-camera-video text-purple-drk-50'"></i>
          Canlı Yayın
        </a>
      </li>
      <li>
        <a href="/records" [ngClass]="active === 3?'nav-link text-white fs-5 bg-primary':'nav-link link-dark fs-5'">
          <i [ngClass]="active===3?'bi bi-camera-reels text-white':'bi bi-camera-reels text-purple-drk-50'"></i>
          Kayıt
        </a>
      </li>
    </ul>
  </div>
</div>



<!-- Notification Options Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bildirim Ayarları</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="isUserNotificationSettingsData">
          <ng-container *ngFor="let item of userNotificationSettings; let i=index">


            <label class="form-label">Bildirim İsmi</label>
            <input class="form-control" disabled type="text" placeholder="{{item.name}}">
            <br>

            <label class="form-label">Email</label>
            <input [(ngModel)]="userNotificationSettings[i].notificationMail" class="form-control" type="email">
            <br>

            <div class="form-check form-switch">
              <input [(ngModel)]="userNotificationSettings[i].notification" class="form-check-input" type="checkbox" role="switch" >
              <label class="form-label">Bildirim</label>
            </div>

            <br>
            <hr>
          </ng-container>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button (click)="updateUserNotificationOptions()" type="button" class="btn btn-primary">Kaydet</button>
      </div>
    </div>
  </div>
</div>
