<div class="container">
  <div class="row" style="height: 100vh">
    <div class="col-md"></div>
    <div class="col-md align-self-center">

      <div class="card">
        <div class="card-body">
          <div class="mb-3 mt-2">
            <h5 class="card-title text-center">Şifre Değiştir</h5>
          </div>

          <ng-container *ngIf="!isEmail">
            <form [formGroup]="sendCodeForm">
              <div class="mb-3">
                <label class="form-label">Email Adresi</label>
                <input formControlName="email" id="inputEmail" class="form-control" type="email"
                  placeholder="ornekmail@ornek.com">
              </div>

              <div class="mt-4 mb-2  text-center">
                <button (click)="sendCode()" class="btn btn-primary align-self-center">Kod Gönder</button>
              </div>
            </form>
          </ng-container>

          <ng-container *ngIf="!isCheckedCode && isEmail">
            <form [formGroup]="checkCodeForm">
              <div class="mb-3">
                <label class="form-label">Kod</label>
                <input formControlName="code" id="inputCode" class="form-control" type="string">
              </div>

              <div class="mt-4 mb-2  text-center">
                <button (click)="check()" class="btn btn-primary align-self-center">Kontrol Et</button>
              </div>
            </form>
          </ng-container>

          <ng-container *ngIf="isCheckedCode && isEmail">
            <form [formGroup]="changePasswordForm">
              <div class="mb-3">
                <label class="form-label">Yeni Şifre</label>
                <input formControlName="password" id="inputNewPassword" class="form-control" type="password">
              </div>

              <div class="mb-3">
                <label class="form-label">Yeni Şifre Tekrar</label>
                <input formControlName="passwordAgain" id="inputNewPasswordAgain" class="form-control"
                  type="password">
              </div>

              <div class="mt-4 mb-2  text-center">
                <button (click)="change()" class="btn btn-primary align-self-center">Değiştir</button>
              </div>
            </form>
          </ng-container>

        </div>

      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>
